{% extends "basetemplate.html" %}
{% block title %}Weather Watch{% endblock %}
{% block script %}
    {{ super() }}
    <style>
      .ui-autocomplete-loading {
          background: white url("/static/images/ui-anim_basic_16x16.gif") right center no-repeat;
      }

      .ui-autocomplete {
          max-height: 100px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
      }

      html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 10;
      }

      #map-canvas {
        width: 100%;
        height: 100%;
        /*z-index: 6;*/
      }
      .gm-style-iw {
        text-align: center;
      }
      #panel {
        position: absolute;
        top: 15px;
        left: 60%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        /*border: 1px solid #999;*/
      }    
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwVA8ANu6c-Zw3KLTbZQH1B9d1r-FrGQw">
    </script>
    <script>
      // client=266719423029-88n3rncq6b26p8eddmk929odmotm7ouj.apps.googleusercontent.com&v=3.19
      var map;
      var request;
      var gettingData = false;
      var openWeatherMapKey = "30909626e890cad7b367246057f815a5"
      var geocoder;
      var coords;


      function initialize() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, failure);
            console.log("In Geolocation");
        } else {
            console.log('Geo Location is not supported');
        }

        function success(position){
          coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude); 
          console.log("In Success" + position);
          console.log(coords);
          load();
        }

        function failure(){
          coords = new google.maps.LatLng(20,78);
          console.log("In Failure");
          load();
        }
      }

      function load(){
        console.log("Load...");
        geocoder = new google.maps.Geocoder();
        // var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        var mapOptions = {
          zoom: 8,
          // center: new google.maps.LatLng(20,78),
          center: coords,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        // agri = new google.maps.Data();

        // Add interaction listeners to make weather requests
        // map.data.addGeoJSON(data);
        google.maps.event.addListener(map, 'idle', checkIfDataRequested);

        // Sets up and populates the info window with details
        map.data.addListener('click', function(event) {
          infowindow.setContent(
           "<img src=" + event.feature.getProperty("icon") + ">"
           + "<br /><strong>" + event.feature.getProperty("city") + "</strong>"
           + "<br />" + event.feature.getProperty("temperature") + "&deg;C"
           + "<br />" + event.feature.getProperty("weather")
           );
          infowindow.setOptions({
              position:{
                lat: event.latLng.lat(),
                lng: event.latLng.lng()
              },
              pixelOffset: {
                width: 0,
                height: -15
              }
            });
          infowindow.open(map);
        });
        console.log('KMZ Layer');
        // var kmzLayer = new google.maps.KmlLayer('/static/images/Nimbora_Bodkha_AOI.kml');
        // var kmzLayer = new google.maps.KmlLayer('https://developers.google.com/maps/documentation/javascript/examples/kml/westcampus.kml');
        kmzLayer.setMap(map);             
      } 

      function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            map.setTilt(0);
            map.setZoom(12);
            // var marker = new google.maps.Marker({
            //     map: map,
            //     position: results[0].geometry.location
            // });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
      // Enter key implementation but gives CRSF error
      // $('#address').keypress(function(e){
      //     if ( e.which == 13 && document.getElementById("address").value.length > 0){
      //       codeAddress();
      //     }
      // });

      var checkIfDataRequested = function() {
        // Stop extra requests being sent
        while (gettingData === true) {
          request.abort();
          gettingData = false;
        }
        getCoords();
      };

      // Get the coordinates from the Map bounds
      var getCoords = function() {
        var bounds = map.getBounds();
        var NE = bounds.getNorthEast();
        var SW = bounds.getSouthWest();
        getWeather(NE.lat(), NE.lng(), SW.lat(), SW.lng());
      };

      // Make the weather request
      var getWeather = function(northLat, eastLng, southLat, westLng) {
        gettingData = true;
        var requestString = "http://api.openweathermap.org/data/2.5/box/city?bbox="
                            + westLng + "," + northLat + "," //left top
                            + eastLng + "," + southLat + "," //right bottom
                            + map.getZoom()
                            + "&cluster=yes&format=json"
                            + "&APPID=" + openWeatherMapKey;
        request = new XMLHttpRequest();
        request.onload = proccessResults;
        request.open("get", requestString, true);
        request.send();
      };

      // Take the JSON results and proccess them
      var proccessResults = function() {
        console.log(this);
        var results = JSON.parse(this.responseText);
        if (results.list.length > 0) {
            resetData();
            for (var i = 0; i < results.list.length; i++) {
              geoJSON.features.push(jsonToGeoJson(results.list[i]));
            }
            drawIcons(geoJSON);
        }
      };

      var infowindow = new google.maps.InfoWindow();

      // For each result that comes back, convert the data to geoJSON
      var jsonToGeoJson = function (weatherItem) {
        var feature = {
          type: "Feature",
          properties: {
            city: weatherItem.name,
            weather: weatherItem.weather[0].main,
            temperature: weatherItem.main.temp,
            min: weatherItem.main.temp_min,
            max: weatherItem.main.temp_max,
            humidity: weatherItem.main.humidity,
            pressure: weatherItem.main.pressure,
            windSpeed: weatherItem.wind.speed,
            windDegrees: weatherItem.wind.deg,
            windGust: weatherItem.wind.gust,
            icon: "http://openweathermap.org/img/w/"
                  + weatherItem.weather[0].icon  + ".png",
            coordinates: [weatherItem.coord.lon, weatherItem.coord.lat]
          },
          geometry: {
            type: "Point",
            coordinates: [weatherItem.coord.lon, weatherItem.coord.lat]
          }
        };
        // Set the custom marker icon
        map.data.setStyle(function(feature) {
          return {
            icon: {
              url: feature.getProperty('icon'),
              anchor: new google.maps.Point(25, 25)
            }
          };
        });

        // returns object
        return feature;
      };

      // Add the markers to the map
      var drawIcons = function (weather) {
         map.data.addGeoJson(geoJSON);
         // map.data.addGeoJson(ind);
         // agri.data.addGeoJson(ind);
         // agri.setMap(map);
         // Set the flag to finished
         gettingData = false;
      };

      // Clear data layer and geoJSON
      var resetData = function () {
        geoJSON = {
          type: "FeatureCollection",
          features: []
        };
        map.data.forEach(function(feature) {
          map.data.remove(feature);
        });
      };

      // function loadGeoJsonString(geoString) {
      //   console.log(geoString);
      //   console.log('Geo');
      //   var geojson = JSON.parse(geoString);
      //   console.log('Geo2');
      //   console.log(geojson);
      //   map.data.addGeoJson(geojson);
      //   console.log('Geo3');
      //   zoom(map);
      // }

      /**
       * Update a map's viewport to fit each geometry in a dataset
       * @param {google.maps.Map} map The map to adjust
       */
      // function zoom(map) {
      //   var bounds = new google.maps.LatLngBounds();
      //   map.data.forEach(function(feature) {
      //     processPoints(feature.getGeometry(), bounds.extend, bounds);
      //   });
      //   map.fitBounds(bounds);
      // }

      /**
       * Process each point in a Geometry, regardless of how deep the points may lie.
       * @param {google.maps.Data.Geometry} geometry The structure to process
       * @param {function(google.maps.LatLng)} callback A function to call on each
       *     LatLng point encountered (e.g. Array.push)
       * @param {Object} thisArg The value of 'this' as provided to 'callback' (e.g.
       *     myArray)
       */
      // function processPoints(geometry, callback, thisArg) {
      //   if (geometry instanceof google.maps.LatLng) {
      //     callback.call(thisArg, geometry);
      //   } else if (geometry instanceof google.maps.Data.Point) {
      //     callback.call(thisArg, geometry.get());
      //   } else {
      //     geometry.getArray().forEach(function(g) {
      //       processPoints(g, callback, thisArg);
      //     });
      //   }
      // }



      // function handleDrop() {
      //   // e.preventDefault();
      //   // e.stopPropagation();
      //   // hidePanel(e);

      //   var files = geo;
      //   loadGeoJsonString(files);
      //   // if (files.length) {
      //   //   // process file(s) being dropped
      //   //   // grab the file data from each file
      //   //   for (var i = 0, file; file = files[i]; i++) {
      //   //     var reader = new FileReader();
      //   //     reader.onload = function(e) {
      //   //       loadGeoJsonString(e.target.result);
      //   //     };
      //   //     reader.onerror = function(e) {
      //   //       console.error('reading failed');
      //   //     };
      //   //     reader.readAsText(file);
      //   //   }
      //   // } else {
      //   //   // process non-file (e.g. text or html) content being dropped
      //   //   // grab the plain text version of the data
      //   //   var plainText = e.dataTransfer.getData('text/plain');
      //   //   if (plainText) {
      //   //     loadGeoJsonString(plainText);
      //   //   }
      //   // }

      //   // prevent drag event from bubbling further
      //   // return false;
      // }        
      
      google.maps.event.addDomListener(window, 'load', function () {
        initialize();
        // handleDrop();
        // loadGeoJsonString(geo);
      });    
    </script>    
{% endblock %}
{% block header %}
  <form id="defaultForm" method="post" class="navbar-form navbar-left form-inline" role="form">
    <div id="panel" class="form-group">
      <input class="form-control" id="address" type="textbox" value="India">
      <input type="button" class="btn btn-primary" value="Geocode" onclick="codeAddress()">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    </div>                        
  </form> 
{% endblock %}
{% block content %}
    <div id="map-canvas"></div>
{% endblock %}